@tailwind base;
@tailwind components;
@tailwind utilities;



.footer span::after {
    content: '';
    height: 3px;
    width: 40%;
    position: absolute;
    display: block;
    top: 25px;
    left: 0px;
    transform: scaleX(0);
    background-color: #047857;
    transition: transform 0.3s ease;
}

.footer span:hover::after{
    transform: scaleX(1);
}

.footer span {
    position: relative;
    cursor: pointer;
}

.drawer {
    opacity:0;
    transform: translateY(-130%);
    transition: opacity 1s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .drawer.show {
    opacity: 1;
    transform: translateY(0);
  }


  
  